In [136]:
import numpy as np 
import pandas as pd 
import duckdb as db
conn = db.connect()

Read in main table:

In [137]:
apps = conn.execute(
    """
    DROP TABLE IF EXISTS apps;
    CREATE TABLE apps AS
        SELECT * FROM read_csv_auto('og_data/application_train.csv');
    SELECT * FROM apps;
    """
).fetchdf()

In [138]:
apps.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [139]:
apps.TARGET.value_counts()

TARGET
0    282686
1     24825
Name: count, dtype: int64

Very imbalanced, will have to consider oversampling or undersamping.

We noticed many columns are ful of missing values, so we will remove ones with a significant proportion missing. This will be focused on the positive class (minority) to preserve as much information as possible -- there should be enough from the majority class to match however much we end up having in the minority class.

In [140]:
apps = apps.loc[:, apps[apps['TARGET'] == 1].isnull().mean() < 0.5]
apps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 73 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   SK_ID_CURR                   307511 non-null  int64
 1   TARGET                       307511 non-null  int64
 2   NAME_CONTRACT_TYPE           307511 non-null  object
 3   CODE_GENDER                  307511 non-null  object
 4   FLAG_OWN_CAR                 307511 non-null  object
 5   FLAG_OWN_REALTY              307511 non-null  object
 6   CNT_CHILDREN                 307511 non-null  int64
 7   AMT_INCOME_TOTAL             307511 non-null  float64
 8   AMT_CREDIT                   307511 non-null  float64
 9   AMT_ANNUITY                  307499 non-null  float64
 10  AMT_GOODS_PRICE              307233 non-null  float64
 11  NAME_TYPE_SUITE              306219 non-null  object
 12  NAME_INCOME_TYPE             307511 non-null  object
 13  NAME_EDUCATION_TYPE          307511 non-null  object
 14  NAME_FAMILY_STATUS           307511 non-null  object
 15  NAME_HOUSING_TYPE            307511 non-null  object
 16  REGION_POPULATION_RELATIVE   307511 non-null  float64
 17  DAYS_BIRTH                   307511 non-null  int64
 18  DAYS_EMPLOYED                307511 non-null  int64
 19  DAYS_REGISTRATION            307511 non-null  float64
 20  DAYS_ID_PUBLISH              307511 non-null  int64
 21  FLAG_MOBIL                   307511 non-null  int64
 22  FLAG_EMP_PHONE               307511 non-null  int64
 23  FLAG_WORK_PHONE              307511 non-null  int64
 24  FLAG_CONT_MOBILE             307511 non-null  int64
 25  FLAG_PHONE                   307511 non-null  int64
 26  FLAG_EMAIL                   307511 non-null  int64
 27  OCCUPATION_TYPE              211120 non-null  object
 28  CNT_FAM_MEMBERS              307509 non-null  float64
 29  REGION_RATING_CLIENT         307511 non-null  int64
 30  REGION_RATING_CLIENT_W_CITY  307511 non-null  int64
 31  WEEKDAY_APPR_PROCESS_START   307511 non-null  object
 32  HOUR_APPR_PROCESS_START      307511 non-null  int64
 33  REG_REGION_NOT_LIVE_REGION   307511 non-null  int64
 34  REG_REGION_NOT_WORK_REGION   307511 non-null  int64
 35  LIVE_REGION_NOT_WORK_REGION  307511 non-null  int64
 36  REG_CITY_NOT_LIVE_CITY       307511 non-null  int64
 37  REG_CITY_NOT_WORK_CITY       307511 non-null  int64
 38  LIVE_CITY_NOT_WORK_CITY      307511 non-null  int64
 39  ORGANIZATION_TYPE            307511 non-null  object
 40  EXT_SOURCE_2                 306851 non-null  float64
 41  EXT_SOURCE_3                 246546 non-null  float64
 42  OBS_30_CNT_SOCIAL_CIRCLE     306490 non-null  float64
 43  DEF_30_CNT_SOCIAL_CIRCLE     306490 non-null  float64
 44  OBS_60_CNT_SOCIAL_CIRCLE     306490 non-null  float64
 45  DEF_60_CNT_SOCIAL_CIRCLE     306490 non-null  float64
 46  DAYS_LAST_PHONE_CHANGE       307510 non-null  float64
 47  FLAG_DOCUMENT_2              307511 non-null  int64
 48  FLAG_DOCUMENT_3              307511 non-null  int64
 49  FLAG_DOCUMENT_4              307511 non-null  int64
 50  FLAG_DOCUMENT_5              307511 non-null  int64
 51  FLAG_DOCUMENT_6              307511 non-null  int64
 52  FLAG_DOCUMENT_7              307511 non-null  int64
 53  FLAG_DOCUMENT_8              307511 non-null  int64
 54  FLAG_DOCUMENT_9              307511 non-null  int64
 55  FLAG_DOCUMENT_10             307511 non-null  int64
 56  FLAG_DOCUMENT_11             307511 non-null  int64
 57  FLAG_DOCUMENT_12             307511 non-null  int64
 58  FLAG_DOCUMENT_13             307511 non-null  int64
 59  FLAG_DOCUMENT_14             307511 non-null  int64
 60  FLAG_DOCUMENT_15             307511 non-null  int64
 61  FLAG_DOCUMENT_16             307511 non-null  int64
 62  FLAG_DOCUMENT_17             307511 non-null  int64
 63  FLAG_DOCUMENT_18             307511 non-null  int64
 64  FLAG_DOCUMENT_19             307511 non-null  int64
 65  FLAG_DOCUMENT_20             307511 non-null  int64
 66  FLAG_DOCUMENT_21             307511 non-null  int64
 67  AMT_REQ_CREDIT_BUREAU_HOUR   265992 non-null  float64
 68  AMT_REQ_CREDIT_BUREAU_DAY    265992 non-null  float64
 69  AMT_REQ_CREDIT_BUREAU_WEEK   265992 non-null  float64
 70  AMT_REQ_CREDIT_BUREAU_MON    265992 non-null  float64
 71  AMT_REQ_CREDIT_BUREAU_QRT    265992 non-null  float64
 72  AMT_REQ_CREDIT_BUREAU_YEAR   265992 non-null  float64
dtypes: float64(20), int64(41), object(12)
memory usage: 171.3+ MB

There are about 8 features left that if we remove them, we will have a very complete dataset. After investigating these specific columns, we decided they are not relevent enough to keep beyond the information we already have.

In [141]:
apps.drop(columns=['AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY',
                   'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON',
                   'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR',
                   'OCCUPATION_TYPE', 'EXT_SOURCE_3'], inplace=True)

In [142]:
apps[apps['TARGET'] == 1].isnull().sum().sum()

287

From the positive class, there are now only 287 total missing values (out of 24k+ rows).

With these missing values, we can either remove the rows or impute. To decide this, we will continue looking at the minority class and seeing if the missing data is concentrated on specific applicants or spread around.

In [143]:
# see if missing data in minority class is concentrated on certain applicatants or spread out
apps['missing_count'] = apps.isnull().sum(axis=1)
apps_minority = apps[apps['TARGET'] == 1]
apps_minority['missing_count'].value_counts().sort_index()

missing_count
0    24667
1      101
2       21
4       36
Name: count, dtype: int64

Only 157 applicants have any missing values. This is pretty negligble compared to the 24,825 applicants in the minority class that we started with. So, I think it's safe to just drop them.

I think we can do the same for the majority class, as long as we still have at least 24k complete observations to balance with the minority class.

In [144]:
apps = apps.dropna()
apps.TARGET.value_counts()

TARGET
0    279864
1     24667
Name: count, dtype: int64

In [145]:
apps.to_csv('data/apps_cleaned.csv', index=False)